body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;

  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);

  min-height: 100vh;
  
}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;

  /*Alinhamento*/
  align-items: center;
  margin-bottom: 58px;
}

ul {
  /*Desabilitando estilização*/
  list-style: none;
  /*Posicionamento*/
  display: flex;
  gap: 48px;
  /*Preenchimento*/
  margin: 0;
  padding: 0;

  font-family: 'Mulish', sans-serif;
}

a {
  text-decoration: none;
  color: #1F1534;
}

ul li a {
  opacity: 0.5;
}

/*PseudoClass*/

ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: 'Mulish', sans-serif;
  font-size: 49px;
  line-height: 56px;
  color: #1F1534;

  font-weight: normal;
  width: 490px;
}

h1 span {
  color: #89C5CC;
  font-weight: bold;
}

section p {
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;
  width: 438px;
  /*40 px em cima e em baixo 0 nas laterais*/
  margin: 40px 0;
}

button {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  padding: 14px 32px 15px;
  border-radius: 4px;
  border: none;
  background-color: #69B99D;

  cursor: pointer;
}

button:hover {
  background: #4ea788;
}



footer a  {
  font-weight: bold;
}

footer {
  margin-top: 80px;
  
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}

#balls{
  position: fixed;
  bottom: 0;
  right: 0;
}